button {
    background-color: white;
    border: none;
}

div {
    font-family: sans-serif;
}

div.react-kanban-column {
    --width: 300px;
    width: 300px;
}

div#card {
    width: calc(var(--width)*0.9);
    background-color: white;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

div#description {
    margin-bottom: 10px;
    text-align: justify;
}

div#priority {
    display: inline;
    font-size: small;
}

div#id {
    font-size: small;
    display: inline;
    float: right;
}

div#header {
    font-family: sans-serif;
    font-weight: bold;
    display: inline;
    text-align: center;
}

div#swimlane {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

button#addcard {
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    display: inline;
    float: right;
}

form {
    background-color: white;
    border: 3px;
    border-radius: 5px;
    display: grid;
    width: fit-content;
    padding: 15px;
    margin: 15px 0px 0px 0px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

label {
    width: 100%;
}

input {
    box-sizing: content-box;
    margin: 2px;
}

img {
    width: 40px;
    border-radius: 50%;
    margin: 0px 5px 0px 0px;
}

img.button {
    width: 30px;
}