body {
    font-family: sans-serif;
    /* color of site */
    background-color: #212121;

}

/* scale-down images if necessary */
img {
    max-width: 100%;
    height: auto;
}

.main-header {
    padding: 5px;
    display: flex;
    gap: 20px;
    color: #E4E4E4;
    align-items: center;
}

.view-toggle {
    display: block;
    flex: 1;
    align-self: stretch;
    background-color: #383838;
    border-radius: 10px;
    border: 0px;
    color: #E4E4E4;
    box-shadow: 5px 5px 3px #141414;
}

.view-toggle:hover {
    opacity: 70%;
}

.date-select {
    flex: 0.5;
}

.date-select>.react-select__control,
.date-select>.react-select__menu {
    background-color: #383838;
    border: 0px;
    box-shadow: 5px 5px 3px #141414;
    border-radius: 10px;
}


.react-select__menu-list>.react-select__option--is-focused {
    background-color: #212121;
}

.react-select__value-container>.react-select__single-value,
.react-select__value-container>.react-select__input-container {
    color: #E4E4E4;
}

.react-kanban-board>div {
    display: flex;
    overflow: hidden;

}

.react-kanban-column {
    flex: 1;
    min-width: 0;
    background-color: #383838;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

/* hack to shrink 5th column */
.hide-dropped>.react-kanban-board>div>.react-kanban-column:last-child {
    flex: 0;
    min-width: fit-content;
}

/* hack to hide cards in 5th column */
.hide-dropped>.react-kanban-board>div>.react-kanban-column:last-child>div:last-child {
    display: none;
}

/* override library style */
.react-kanban-column>div>div>div {
    width: 100%;
}

.card {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-left: 5px solid;
    background-color: #212121;
    color: #e4e4e4;
    transition: 0.5s;
}

.header {
    color: #E4E4E4;
    padding: 5px 0 0 10px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
}

.addcard,
.dropped-trigger {
    background-color: transparent;
    border: transparent;
    height: auto;
}

.addcard {
    width: 30px;
    margin-top: -3px;
    margin-bottom: -4px;
    transition: 0.5s;
}

.dropped-trigger {
    margin-top: -7px;
    margin-bottom: -10px;
    width: 40px;
}

.addcard:hover {
    transform: scale(1.3);
}

.card:hover {
    transform: translateY(-5px);
}

.description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}

.employee {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
}

.employee-pic {
    width: 13%;
    display: flex;

    img {
        border-radius: 50%;
    }
}

.date {
    margin-left: auto;
    color: #727272;
    font-weight: bold;
    opacity: 90%;
}

.context-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid #55555556;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #141414;
    width: 200px;
    background-color: #212121;

    button {
        width: 100%;
        background-color: #383838;
        border-color: #55555556;
        color: #E4E4E4;
        border-radius: 10px;
    }

    button:hover {
        opacity: 80%;
    }
}

.editor {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #212121;
    width: 25%;
    height: 25%;
    border-radius: 10px;
    color: #E4E4E4;

    padding: 15px;
    gap: 10px;

    .description,
    .priority,
    .submit-card {
        background-color: #383838;
        color: #E4E4E4;
        border-radius: 10px;
        border-color: #55555556;
    }

    .description {
        flex: 1;
    }
}

div.swimlane {
    display: flex;
    align-items: center;
    vertical-align: middle;
}




div#lane-card {
    border: 2px gray solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
}

div#lane {
    border: 1px gray solid;
    border-radius: 5px;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

div#priority-lane {
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;
    text-transform: capitalize;

}

.back-drop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 50%;
}