button {
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;

}

button.view-toggle {
    width: 15%;
}

div {
    font-family: sans-serif;
}

div.react-kanban-column {
    --width: 300px;
    width: 300px;
}

div#card {
    width: calc(var(--width)*0.9);
    background-color: white;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    padding: 15px 15px 15px 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    border: solid 2px;
}

div#description {
    margin-bottom: 20px;
    text-align: justify;
}

div#priority {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 25%;
    display: inline-block;
}

div#id {
    font-size: small;
    display: inline-block;
    float: right;
}

div#header {
    margin-bottom: 30px;
}

div#title {
    font-weight: bold;
    display: inline;
    text-align: center;
}

div#swimlane {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

div#main-header {
    padding: 5px;
    display: flex;
    gap: 20px;
}

button#addcard {
    display: inline;
    float: right;
}

form {
    background-color: white;
    border: 3px;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0px 0px 0px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

label {
    font-size: small;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}

input {
    display: block;
    box-sizing: border-box;
    margin-top: 5px;
    width: fit-content;
}

textarea {
    height: 150px;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

select {
    margin: 2px 0px 5px 0px;
    width: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

input#submitcard {
    width: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

img {
    width: 40px;
    border-radius: 50%;
    margin: 0px 5px 0px 0px;
}

img.button {
    width: 30px;
}

button#toggle {
    border: none;
    box-shadow: none;
    background-color: white;
}

div#lane-card {
    border: 2px gray solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
}

div#avatar {
    justify-self: end;
    width: fit-content;
}

div#lane {
    border: 1px gray solid;
    border-radius: 5px;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

div#priority-lane {
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;
    text-transform: capitalize;

}

div.context-menu {
    position: absolute;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    width: 200px;
    background-color: whitesmoke;

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}